[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"

[dev-packages]
pre-commit = "*"
ipykernel = "*"

[scripts]
format = "pre-commit run --all-files"

[requires]
python_version = "3.12"
